@namespace oxy url('http://www.oxygenxml.com/extensions/author');

/* Main */

TEI {
	
	background-color: white;
	
	-oxy-display-tags: none !important;
	
	color: black;
	
	font-family: sans-serif;
	font-size: smaller;
	
}


oxy|comment{

	display: none !important;
	
}


idno, bibl{

	-oxy-display-tags: none;

}


lb {

	visibility:-oxy-collapse-text;
	content: "\A";
	
}


/* Header */
	

teiHeader {
	
	display: none;
	
}


front {
	
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid #778899; /* LightSLategray */
	font-size: larger;
	display: block;
	
	-oxy-display-tags: none !important;
	
}


head {
	display: block;
	font-style: italic;
}


/* Content */

listBibl{
	
	display: block;
	
}





series{
	font-weight: bold;
}



/* Main entries in a listBibl */
listBibl > biblStruct {

	margin-bottom: 10px;
	border: 10px solid #778899; /* LightSLateGray */
	
	padding-bottom: 5px;

}


listBibl > biblStruct:before{

	
	font-size: 15pt;
	font-weight: bold;
	
	padding-left: 5px;


}

listBibl > biblStruct[type=bookSection]:before{

	
	content: "Buchabschnitt"
		oxy_editor(type, button, actionID, delete_biblStruct, transparent, true, color, #FFFFFF);


}


listBibl > biblStruct[type=book]:before{

	
	content: "Buch"
		oxy_editor(type, button, actionID, delete_biblStruct, transparent, true, color, #FFFFFF);


}


listBibl > biblStruct[type=journalArticle]:before{

	
	content: "Zeitschriftenartikel"
		oxy_editor(type, button, actionID, delete_biblStruct, transparent, true, color, #FFFFFF);


}


listBibl > biblStruct[subtype=review]:before{

	
	content: "Zeitschriftenartikel (Rezension)"
		oxy_editor(type, button, actionID, delete_biblStruct, transparent, true, color, #FFFFFF);


}

author {
	
	display: block;
	
}

author name {

    -oxy-display-tags: none;
	
    content: oxy_label(text, "Autor: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 50);
			 
	visibility:-oxy-collapse-text;

}


title[type="main"] {

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Titel: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 

}



title[type="sub"] {

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Untertitel: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


editor name{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Herausgeber: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}

/* don't make a textfield, when there is the element forename within name or editor */
author name! forename{
	
	content: oxy_label(text, "Autor: ", width, 10em, text-align, right) !important;
	
}


editor name! forename{

	content: oxy_label(text, "Herausgeber: ", width, 10em, text-align, right) !important;
	
}


forename{
	
	-oxy-display-tags: none;
	
    content: oxy_label(text, "Vorname: ")
             oxy_editor(type, text, edit, "#text", columns, 15);
			 
	visibility:-oxy-collapse-text;	
	
}


editor name surname{
	
	-oxy-display-tags: none;
	
    content: oxy_label(text, "   Nachname: ")
             oxy_editor(type, text, edit, "#text", columns, 15);
			 
	visibility:-oxy-collapse-text;	
	
}

author name surname{
	
	-oxy-display-tags: none;
	
    content: oxy_label(text, "   Nachname: ")
             oxy_editor(type, text, edit, "#text", columns, 15);
			 /*oxy_editor(type, button, actionID, insert_author, transparent, true, color, #FFFFFF)
			 oxy_editor(type, button, actionID, delete_author, transparent, true, color, #FFFFFF);
*/
	visibility:-oxy-collapse-text;	
	
	
}


author:after{
	
	content: oxy_editor(type, button, actionID, insert_author, transparent, true, color, #FFFFFF)
			 oxy_editor(type, button, actionID, delete_author, transparent, true, color, #FFFFFF);
			display: inline;
	
}
	

/* Editor TO BE REPLACED/REMOVED */
editor > note[type="role"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "###Editor Role###: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}

editor > note[type="role"]:before{

	content: "" !important;

}


edition{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Ausgabe/Auflage: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


imprint {

	display: block;
	margin: 1px solid white;
	
	background-color: #b5e2e3; /* lighter LightSeaGreen */


}


imprint:before{

	content: "Imprint";
	font-weight: bold;
	
	padding-left: 5px;


}



date{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Datum: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


pubPlace{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Veröffentlichungsort: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


publisher{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Verlag: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


idno{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Kennung: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}



/* relatedItems */

relatedItem{

	display: block;
	margin: 5px;
	margin-left: 20px;
	border: 2px solid #545c54; /* darker slategray */
	
	background-color: #b6d5fb; /* lighter cornflowerblue */
	padding-left: 5px;
	

}

relatedItem[type="articleIncluded"]:before{

	content: "Zugehöriges Werk (Enthaltener Aufsatz)";
	visibility:-oxy-collapse-text;	
	font-weight: bold;	
	
}


relatedItem[type="firstPrint"]:before{

	content: "Zugehöriges Werk (Erstausgabe)";
	visibility:-oxy-collapse-text;	
	font-weight: bold;	
	
}


relatedItem[type="reprint"]:before{

	content: "Zugehöriges Werk (Nachdruck)";
	visibility:-oxy-collapse-text;
	font-weight: bold;	
	
}



relatedItem[type="translation"]:before{

	content: "Zugehöriges Werk (Übersetzung)";
	visibility:-oxy-collapse-text;	
	font-weight: bold;	
	
}


relatedItem[type="reviewOf"]:before{

	content: "Zugehöriges Werk (Rezension von)";
	visibility:-oxy-collapse-text;	
	font-weight: bold;	
	
}


relatedItem > bibl{

	display: block;

}




relatedItem author name{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Autor: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}

relatedItem title{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Titel: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


/* Seitenzahlen */
biblScope[unit="page"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Seitenbereich: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;	
	

}


/* Kapitel */
biblScope[unit="chapter"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Kapitel: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;	
	

}



/* Heft-Nr. */
biblScope[unit="issue"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Heftnummer: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;	
	

}


biblScope[unit="volume"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Band/Jahrgang: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;	
	

}



ref{


	
}

ref:after{

	link: attr(target);
	text-decoration: underline;
	color: blue;
	content: "(Zum öffnen klicken)";

}


biblStruct > note, bibl > note, relatedItem > note{

	display: block;
	margin: 5px;
	margin-left: 20px;
	border: 2px solid #545c54; /* darker slategray */
	
	background-color: linen;
	padding-left: 5px;
	
	-oxy-display-tags: none;
	
	
}


textLang{
	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Sprache: ", width, 10em, text-align, right)
			 oxy_editor(type, combo, edit, "@mainLang", editable, false, values, "de, en, fr", labels, "Deutsch, Englisch, Französisch", columns, 60);
			 
	visibility:-oxy-collapse-text;	
}




note:before{

	content: "Anmerkung (" attr(type) ")\A";
	font-weight: bold;

}



analytic{

border-left: 2px solid #67737e; /* darker LightSLategray */
margin-left: 10px;
background-color: #dbdbf7; /* darker lavender */


}


analytic:before{

	content: "Einzeltext";
	font-weight: bold;

	padding-left: 5px;

}


series{

border-left: 2px solid #67737e; /* darker LightSLategray */
margin-left: 10px;
background-color: #ffc7b3;
font-weight: normal;


}


series:before{

	content: "Reihe";
	font-weight: bold;
	
	padding-left: 5px;

}



monogr{

border-left: 2px solid #67737e; /* darker LightSLategray */
margin-left: 10px;
background-color: #adebeb; /* lighter LightSeaGreen */


}


monogr:before{

	content: "Übergeordnetes Werk";
	font-weight: bold;
	
	padding-left: 5px;

}

/* Wenn monogr erstes Child unterhalb biblStruct ist, lass die Überschrift weg! */
monogr:first-child:before{
	
	content: "" !important;
	
}


