@namespace oxy url('http://www.oxygenxml.com/extensions/author');

/* Main */

TEI {
	
	background-color: white;
	
	-oxy-display-tags: none !important;
	
	color: black;
	
}


oxy|comment{

	display: none !important;
	
}


idno, bibl{

	-oxy-display-tags: none;

}


lb {

	visibility:-oxy-collapse-text;
	content: "\A";
	
}


/* Header */
	

teiHeader {
	
	display: none;
	
}


front {
	
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid #778899; /* LightSLategray */
	font-size: larger;
	display: block;
	
	-oxy-display-tags: none !important;
	
}


head {
	display: block;
	font-style: italic;
}


/* Content */

listBibl{
	
	display: block;
	
}





series{
	font-weight: bold;
}



/* Main entries in a listBibl */
listBibl > biblStruct {

	margin-bottom: 10px;
	border: 10px solid #778899; /* LightSLateGray */
	
	padding-bottom: 5px;

}


listBibl > biblStruct:before{

	
	content: "biblStruct (" attr(type) ") " oxy_editor(type, button, actionID, delete_biblStruct, transparent, true, color, #FFFFFF);;
	font-size: 15pt;
	font-weight: bold;
	
	padding-left: 5px;


}


author name {

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Author: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;

}


title[type="main"] {

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Title: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 

}



title[type="sub"] {

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Subtitle: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


editor name{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Editor: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}

/* don't make a textfield, when there is the element forename within name or editor */
author name! forename, editor name! forename{
	
	content: oxy_label(text, "Author: ", width, 10em, text-align, right) !important;
	
}

forename{
	
	-oxy-display-tags: none;
	
    content: oxy_label(text, "Forename: ")
             oxy_editor(type, text, edit, "#text", columns, 15);
			 
	visibility:-oxy-collapse-text;	
	
}


editor name surname{
	
	-oxy-display-tags: none;
	
    content: oxy_label(text, "   Surname: ")
             oxy_editor(type, text, edit, "#text", columns, 15);
			 
	visibility:-oxy-collapse-text;	
	
}

author name surname{
	
	-oxy-display-tags: none;
	
    content: oxy_label(text, "   Surname: ")
             oxy_editor(type, text, edit, "#text", columns, 15),
			 oxy_editor(type, button, actionID, insert_author, transparent, true, color, #FFFFFF)
			 oxy_editor(type, button, actionID, delete_author, transparent, true, color, #FFFFFF);

	visibility:-oxy-collapse-text;	
	
	
}
	




/* Editor */
editor > note[type="role"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Editor Role: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}

editor > note[type="role"]:before{

	content: "" !important;

}


edition{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Edition: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


imprint {

	display: block;
	margin: 1px solid white;
	
	background-color: #b5e2e3; /* lighter LightSeaGreen */


}


imprint:before{

	content: "imprint";
	font-weight: bold;
	
	padding-left: 5px;


}



date{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Date: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


pubPlace{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Publication Place: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


publisher{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Publisher: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


idno{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "IDNO: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}



/* relatedItems */

relatedItem{

	display: block;
	margin: 5px;
	margin-left: 20px;
	border: 2px solid #545c54; /* darker slategray */
	
	background-color: #b6d5fb; /* lighter cornflowerblue */
	padding-left: 5px;
	

}

relatedItem[type="articleIncluded"]:before{

	content: "relatedItem (Article Included)";
	visibility:-oxy-collapse-text;	
	font-weight: bold;	
	
}


relatedItem[type="firstPrint"]:before{

	content: "relatedItem (First Print)";
	visibility:-oxy-collapse-text;	
	font-weight: bold;	
	
}


relatedItem[type="reprint"]:before{

	content: "relatedItem (reprint)";
	visibility:-oxy-collapse-text;
	font-weight: bold;	
	
}



relatedItem[type="translation"]:before{

	content: "relatedItem (translation)";
	visibility:-oxy-collapse-text;	
	font-weight: bold;	
	
}


relatedItem[type="reviewOf"]:before{

	content: "relatedItem (Review of)";
	visibility:-oxy-collapse-text;	
	font-weight: bold;	
	
}


relatedItem > bibl{

	display: block;

}




relatedItem author name{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Author: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}

relatedItem title{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Title: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;			 


}


/* Seitenzahlen */
biblScope[unit="page"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Page Numbers: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;	
	

}


/* Kapitel */
biblScope[unit="chapter"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Chapter: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;	
	

}



/* Heft-Nr. */
biblScope[unit="issue"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Issue: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;	
	

}


biblScope[unit="volume"]{

	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "Volume: ", width, 10em, text-align, right)
             oxy_editor(type, text, edit, "#text", columns, 60);
			 
	visibility:-oxy-collapse-text;	
	

}



ref{


	
}

ref:after{

	link: attr(target);
	text-decoration: underline;
	color: blue;
	content: "(Click to open)";

}


biblStruct > note, bibl > note, relatedItem > note{

	display: block;
	margin: 5px;
	margin-left: 20px;
	border: 2px solid #545c54; /* darker slategray */
	
	background-color: linen;
	padding-left: 5px;
	
	-oxy-display-tags: none;
	
	
}


textLang{
	display: block;
    -oxy-display-tags: none;
	
    content: oxy_label(text, "textLang: ", width, 10em, text-align, right)
			 oxy_editor(type, combo, edit, "@mainLang", editable, false, values, "de, en, fr", labels, "Deutsch, Englisch, Französisch", columns, 60);
			 
	visibility:-oxy-collapse-text;	
}




note:before{

	content: "note (" attr(type) ")\A";
	font-weight: bold;

}



/* related bibl's in unstructured bibl's */
listBibl > bibl > bibl{
	
	display: block;
	margin: 5px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 2px solid #545c54; /* darker slategray */
	
	background-color: linen;
	
}

listBibl > bibl > bibl[type="journalArticle"]:before{
	
	content: "bibl (Journal Article)\A";	
	font-weight: bold;
	
}

listBibl > bibl > bibl[type="journal"]:before{
	
	content: "bibl (Journal)\A";	
	font-weight: bold;
	
}

listBibl > bibl > bibl[type="book"]:before{
	
	content: "bibl (Book)\A";	
	font-weight: bold;
	
}


analytic{

border-left: 2px solid #67737e; /* darker LightSLategray */
margin-left: 10px;
background-color: #dbdbf7; /* darker lavender */


}


analytic:before{

	content: "analytic";
	font-weight: bold;

	padding-left: 5px;

}


series{

border-left: 2px solid #67737e; /* darker LightSLategray */
margin-left: 10px;
background-color: #ffc7b3;
font-weight: normal;


}


series:before{

	content: "series";
	font-weight: bold;
	
	padding-left: 5px;

}



monogr{

border-left: 2px solid #67737e; /* darker LightSLategray */
margin-left: 10px;
background-color: #adebeb; /* lighter LightSeaGreen */


}


monogr:before{

	content: "monogr";
	font-weight: bold;
	
	padding-left: 5px;

}
